# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Electron
/.electron/
dist/
*.log

# Fichiers de build (pour Electron Builder)
/build/
/release/
/app/
/electron-builder/

# Fichiers de configuration IDE
.vscode/
.idea/

# Système d'exploitation
.DS_Store
Thumbs.db

# Dossiers temporaires et de cache
.cache/
*.swp
*.swo

# Fichiers spécifiques aux environnements de développement
.env
.env.local
.env.*.local

# Fichiers de configuration de tests
coverage/

# Archives et fichiers temporaires
*.tgz
*.tar.gz
*.zip

# Fichiers spécifiques à l'OS
# Windows
*.cab
*.msi
*.exe
*.dll
# macOS
*.app
*.dmg

# Répertoire de publication
/public/

# Répertoire de sauvegarde de IDE ou autres éditeurs
*.sublime-workspace
*.sublime-project

# Logs d'Electron
/.vscode/*
